<!DOCTYPE html>
<html>
<head>
	<title>Cesar</title>
	<link href="../static/css/style.css" rel="stylesheet" type="text/css"></link>
	<script src="../static/script/jquery-2.1.4.min.js"></script>
	<script src="../static/script/script.js"></script>
</head>
<body>
	<div class="text">
		<textarea rows="10" cols="60" id="textInput"></textarea>

		<input type="button" id="sentButton" value="Send">
		<div id="target">
		Send Here
		</div>

		<textarea rows="10" cols="60" id="textOutput"></textarea>
	</div>

	<div class="option">
		<select name="selector" class="selector">
			<option value="1">n1</option>
			<option value="2">n2</option>
			<option value="3">n3</option>
			<option value="4">n4</option>
			<option value="5">n5</option>
			<option value="6">n6</option>
		</select>
	</div>

</body>
</html>